In [1]:
import numpy as np
import pandas as pd

# Water

In [2]:
df_water = pd.read_csv("Water_Midden_Oakwoods.csv", 
                       dtype={
                           "TN":'category',
                           "TP":'category',
                           "disNH4":'category',
                           "disNO3":'category',
                           "disPO4":'category',
                           }, 
                       encoding='cp1252')
# df_water.dtypes

In [3]:
df_water.columns

Index(['username', 'map_label', 'project_code', 'sampleMedia', 'combinedID',
       'sampleID', 'internalSampleID', 'visitDate', 'dateAnalTPTN', 'TN', 'TP',
       'dateAnalDiss', 'disNH4', 'disNO3', 'disPO4', 'dateAnalTDPTDN', 'TDN',
       'TDP', 'locName', 'Pool Volume (cu ft)', 'Location Sortable',
       'specific_location', 'samp_type', 'notes', 'samp_notes', 'y', 'x'],
      dtype='object')

In [4]:
df_water["TN"] = df_water["TN"].replace('< MDL', 0.075).replace('<MDL', 0.075)
df_water["TP"] = df_water["TP"].replace('< MDL', 0.015).replace('<MDL', 0.015)
df_water["disNO3"] = df_water["disNO3"].replace('< MDL', 0.05).replace('<MDL', 0.05)
df_water["disNH4"] = df_water["disNH4"].replace('< MDL', 0.02).replace('<MDL', 0.02)
df_water["disPO4"] = df_water["disPO4"].replace('< MDL', 0.01).replace('<MDL', 0.01)

In [5]:
# df_water_clean = df_water.dropna(thresh=5).replace('< MDL', 0).replace('<MDL', 0).replace('lost sample', np.nan)
df_water_clean = df_water.dropna(thresh=10).replace('lost sample', np.nan)

df_water_clean = df_water_clean.astype({
"sampleMedia"         :     object,
"sampleID"            :     object,
"visitDate"           :    np.float64,
"TN"                  :   np.float64,
"TP"                  :     np.float64,
"disNH4"              :     np.float64,
"disNO3"              :     np.float64,
"disPO4"              :     np.float64,
"locName"             :     "category",
"Pool Volume (cu ft)" :    np.float64,
"samp_notes"          :     object,
"y"                   :    np.float64,
"x"                   :    np.float64,
})
df_water_clean.visitDate = (pd.to_datetime(df_water_clean.visitDate,format= "%Y%m%d"))
# df_water_clean.head(1)

In [6]:
df_water_clean_grouped = df_water_clean.groupby('locName').agg(
    Total_Mean_TP=('TP', 'mean'),
    # Totall_Max_TP=('TP', 'max'),
    # Totall_Min_TP=('TP', 'min'),

    Total_Mean_TN=('TN', 'mean'),
    # Totall_Max_TN=('TN', 'max'),
    # Totall_Min_TN=('TN', 'min'),

    Total_Mean_disNH4=('disNH4', 'mean'),
    # Totall_Max_disNH4=('disNH4', 'max'),
    # Totall_Min_disNH4=('disNH4', 'min'),

    Total_Mean_disNO3=('disNO3', 'mean'),
    # Totall_Max_disNO3=('disNO3', 'max'),
    # Totall_Min_disNO3=('disNO3', 'min'),

    Total_Mean_disPO4=('disPO4', 'mean'),
    # Totall_Max_disPO4=('disPO4', 'max'),
    # Totall_Min_disPO4=('disPO4', 'min'),
    

    ).reset_index()

result = pd.merge(df_water_clean, df_water_clean_grouped, on='locName', how='left')

C:\Users\Iman\AppData\Local\Temp\ipykernel_7992\1260132293.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_water_clean_grouped = df_water_clean.groupby('locName').agg(

In [7]:

# columns_to_aggregate = ['TP', 'TN', 'disNH4', 'disNO3', 'disPO4']

# aggregation_instructions = {f'Total_Mean_{col}': (col, 'mean') for col in columns_to_aggregate}

# df_water_clean_grouped = df_water_clean.groupby('locName').agg(
#     **aggregation_instructions
# ).reset_index()

# result3 = pd.merge(df_water_clean, df_water_clean_grouped, on='locName', how='left')

In [8]:
df_water_clean_grouped_date = df_water_clean.groupby(['locName', 'visitDate']).agg(
    Visit_Mean_TP=('TP', 'mean'),
    Visit_Mean_TN=('TN', 'mean'),
    Visit_Mean_disNH4=('disNH4', 'mean'),
    Visit_Mean_disNO3=('disNO3', 'mean'),
    Visit_Mean_disPO4=('disPO4', 'mean'),
    ).reset_index()

result2 = pd.merge(result, df_water_clean_grouped_date, on=['locName', "visitDate"], how='left')

C:\Users\Iman\AppData\Local\Temp\ipykernel_7992\3118740268.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_water_clean_grouped_date = df_water_clean.groupby(['locName', 'visitDate']).agg(

In [9]:
cols = [
    'sampleID',
    'visitDate',
    'TN',
    'TP',
    'disNH4',
    'disNO3',
    'disPO4',
    'TDN',
    'TDP',
    'locName',
    'Pool Volume (cu ft)',
    'samp_type',
    'notes',
    'samp_notes',
    'y',
    'x',
    'Total_Mean_TP',
 'Total_Mean_TN',
 'Total_Mean_disNH4',
 'Total_Mean_disNO3',
 'Total_Mean_disPO4',
 'Visit_Mean_TP',
 'Visit_Mean_TN',
 'Visit_Mean_disNH4',
 'Visit_Mean_disNO3',
 'Visit_Mean_disPO4']

In [10]:
water_col_round = ['Total_Mean_TP', 'Total_Mean_TN', 'Total_Mean_disNH4',
       'Total_Mean_disNO3', 'Total_Mean_disPO4', 'Visit_Mean_TP',
       'Visit_Mean_TN', 'Visit_Mean_disNH4', 'Visit_Mean_disNO3',
       'Visit_Mean_disPO4']
result2[water_col_round] = result2[water_col_round].round(4)

In [11]:
result2[cols].to_csv("water_clean_grouped.csv", index=False)

# Soil Dataset

In [12]:
df_soil = pd.read_csv("Soil_dataset.csv", 
            dtype={
                           "TN":'category',
                           "TP":'category',
                           "m3.P":'category',
                           "m3.Fe":'category',
                           "m3.Al":'category',
                           "SPSC":'category',
                           "wEX.P":'category',
                           "wEX.NH3":'category',
                           "wEX.NOx":'category',
                           "pH":'category',
                           "EC":'category',
                           },
            encoding='cp1252')

In [13]:
# df_soil.query('sampleID == "D00013"').iloc[:, [8,9,10,11,12,13,14,15]]#.head()

In [14]:
df_soil["TN"] = df_soil["TN"].replace('< MDL', '50').replace('<MDL', '50')
df_soil["TP"] = df_soil["TP"].replace('< MDL', '10').replace('<MDL', '10')
df_soil["m3.P"] = df_soil["m3.P"].replace('< MDL', '0.32').replace('<MDL', '0.32')
df_soil["m3.Fe"] = df_soil["m3.Fe"].replace('< MDL', '0.11').replace('<MDL', '0.11')
df_soil["m3.Al"] = df_soil["m3.Al"].replace('< MDL', '3.33').replace('<MDL', '3.33')
df_soil["wEX.P"] = df_soil["wEX.P"].replace('< MDL', '0.2').replace('<MDL', '0.2').replace('<mdl', '0.2')   
df_soil["wEX.NH3"] = df_soil["wEX.NH3"].replace('< MDL', '0.4').replace('<MDL', '0.4')
df_soil["wEX.NOx"] = df_soil["wEX.NOx"].replace('< MDL', '1.0').replace('<MDL', '1.0')

In [15]:
# df_soil_clean.query('sampleID == "D00013"').iloc[:, [8,9,10,14,15]]#.head()
# df_soil_clean.iloc[:, [8,9,10,14,15]].head()

In [16]:
col_num_soil = [
    'TP',  
    'TN' ,
    'm3.P',
    'm3.Fe',
    'm3.Al',
    'SPSC',
    'wEX.P',
    'wEX.NH3',
    'wEX.NOx',
    'pH',
    'EC'
]   

# df_soil_clean = (df_soil
#                  .dropna(thresh=5)
#                  .replace('< MDL', 0)
#                  .replace('<MDL', 0)
#                  .replace('lost sample', np.nan)
#                  .replace(",","")
#                  .replace ('', np.nan))
df_soil_clean = (df_soil
                 .dropna(thresh=10)
                #  .replace('< MDL', 0)
                #  .replace('<MDL', 0)
                 .replace('lost sample', np.nan)
                 .replace(",","")
                 .replace ('', np.nan))
import re
# for col in col_num_soil:
#     df_soil_clean[col] = df_soil_clean[col].str.replace("[^0-9]", "", regex=True)

for col in col_num_soil:
    df_soil_clean[col] = df_soil_clean[col].str.replace(",", "", regex=True)

df_soil_clean['wEX.P'] = df_soil_clean['wEX.P'].replace ('', np.nan)

In [17]:
df_soil_clean = df_soil_clean.astype({
'username'           :    object,
'map_label'          :    object,
'project_code'       :    object,
'sampleMedia'        :    object,
'combinedID'         :    object,
'sampleID'           :    object,
'internalSampleID'   :    object,
'visitDate'          :    np.int64,
'dateAnalTPTN'       :    np.float64,
'TP'                 :    np.float64,
'TN'                 :    np.float64,
'dateAnalM3ICP'      :    np.int64,
'dateAnalM3Ex'       :    np.int64,
'm3.P'               :    np.float64,
'm3.Fe'              :    np.float64,
'm3.Al'              :    np.float64,
'SPSC'               :    np.float64,
'dateAnalWE'         :    np.float64,
'wEX.P'              :    np.float64,
'wEX.NH3'            :    np.float64,
'wEX.NOx'            :    np.float64,
'dateAnalpH'         :    np.float64,
'pH'                 :    np.float64,
'dateAnalEC'         :    np.float64,
'EC'                 :    np.float64,
'samp_type'          :    object,
'locName'            :    object,
'Location Sortable'  :    object,
'specific_location'  :    object,
'samp_type.1'        :    object,
'notes'              :    object,
'samp_notes'         :    object,
'y'                  :    np.float64,
'x'                  :    np.float64,
})
df_soil_clean.visitDate = (pd.to_datetime(df_soil_clean.visitDate,format= "%Y%m%d"))
df_soil_clean.head(1)

,username,map_label,project_code,sampleMedia,combinedID,sampleID,internalSampleID,visitDate,dateAnalTPTN,TP,...,EC,samp_type,locName,Location Sortable,specific_location,samp_type.1,notes,samp_notes,y,x
0,midden_BGSU,20-21,OAKWE,soil,OAKWE_20210527_D00013,D00013,A-20210527-20-01D,2021-05-27,20210615.0,10.0,...,NaN,sample,Wetland Pool 25,Wetland Pool 25,Pool,sample,This pool had the cloudiest water of the pools...,NaN,41.0239,-83.68451

In [18]:
df_soil_clean_grouped = df_soil_clean.groupby('locName').agg(
    Total_Mean_TP=('TP', 'mean'),
    # Max_TP=('TP', 'max'),
    # Min_TP=('TP', 'min'),

    Total_Mean_TN=('TN', 'mean'),
    # Max_TN=('TN', 'max'),
    # Min_TN=('TN', 'min'),

    Total_Mean_m3_P=('m3.P', 'mean'),
    # Max_m3_P=('m3.P', 'max'),
    # Min_m3_P=('m3.P', 'min'),

    Total_Mean_m3_Fe=('m3.Fe', 'mean'),
    # Max_m3_Fe=('m3.Fe', 'max'),
    # Min_m3_Fe=('m3.Fe', 'min'),

    Total_Mean_m3_Al=('m3.Al', 'mean'),
    # Max_m3_Al=('m3.Al', 'max'),
    # Min_m3_Al=('m3.Al', 'min'),

    Total_Mean_SPSC=('SPSC', 'mean'),
    # Max_SPSC=('SPSC', 'max'),
    # Min_SPSC=('SPSC', 'min'),

    Total_Mean_wEX_P=('wEX.P', 'mean'),
    # Max_wEX_P=('wEX.P', 'max'),
    # Min_wEX_P=('wEX.P', 'min'),

    Total_Mean_wEX_NH3=('wEX.NH3', 'mean'),
    # Max_wEX_NH3=('wEX.NH3', 'max'),
    # Min_wEX_NH3=('wEX.NH3', 'min'),

    Total_Mean_wEX_NOx=('wEX.NOx', 'mean'),
    # Max_wEX_NOx=('wEX.NOx', 'max'),
    # Min_wEX_NOx=('wEX.NOx', 'min'),

    Total_Mean_pH=('pH', 'mean'),
    # Max_pH=('pH', 'max'),
    # Min_pH=('pH', 'min'),

    Total_Mean_EC=('EC', 'mean'),
    # Max_EC=('EC', 'max'),
    # Min_EC=('EC', 'min'),
    


).reset_index()
result_soil = pd.merge(df_soil_clean, df_soil_clean_grouped, on='locName', how='left')

In [19]:
df_soil_clean_grouped_date = df_soil_clean.groupby(['locName', 'visitDate']).agg(
    Visit_Mean_TP=('TP', 'mean'),
    Visit_Mean_TN=('TN', 'mean'),
    Visit_Mean_m3_P=('m3.P', 'mean'),
    Visit_Mean_m3_Fe=('m3.Fe', 'mean'),
    Visit_Mean_m3_Al=('m3.Al', 'mean'),
    Visit_Mean_SPSC=('SPSC', 'mean'),
    Visit_Mean_wEX_P=('wEX.P', 'mean'),
    Visit_Mean_wEX_NH3=('wEX.NH3', 'mean'),
    Visit_Mean_wEX_NOx=('wEX.NOx', 'mean'),
    Visit_Mean_pH=('pH', 'mean'),
    Visit_Mean_EC=('EC', 'mean'),
    ).reset_index()

result_soil2 = pd.merge(result_soil, df_soil_clean_grouped_date, on=['locName', "visitDate"], how='left')

In [20]:
soil_col_round = ['Total_Mean_TP', 'Total_Mean_TN', 'Total_Mean_m3_P',
       'Total_Mean_m3_Fe', 'Total_Mean_m3_Al', 'Total_Mean_SPSC',
       'Total_Mean_wEX_P', 'Total_Mean_wEX_NH3', 'Total_Mean_wEX_NOx',
       'Total_Mean_pH', 'Total_Mean_EC', 'Visit_Mean_TP', 'Visit_Mean_TN',
       'Visit_Mean_m3_P', 'Visit_Mean_m3_Fe', 'Visit_Mean_m3_Al',
       'Visit_Mean_SPSC', 'Visit_Mean_wEX_P', 'Visit_Mean_wEX_NH3',
       'Visit_Mean_wEX_NOx', 'Visit_Mean_pH', 'Visit_Mean_EC']
result_soil2[soil_col_round] = result_soil2[soil_col_round].round(4)

In [21]:
result_soil2.to_csv('soil_clean_grouped.csv', index=False)

# Merge with Pool info

In [22]:

df_soil = pd.read_csv("soil_clean_grouped.csv")
# df_soil.locName.sort_values().unique().tolist()

In [23]:
pool_name=[
'Wetland Pool 1',
'Wetland Pool 2',
'Wetland Pool 3',
'Wetland Pool 4',
'Wetland Pool 5',
'Wetland Pool 6',
'Wetland Pool 7',
'Wetland Pool 8',
'Wetland Pool 9',
'Wetland Pool 10',
'Wetland Pool 11',
'Wetland Pool 12',
'Wetland Pool 13',
'Wetland Pool 14',
'Wetland Pool 15',
'Wetland Pool 16',
'Wetland Pool 17',
'Wetland Pool 18',
'Wetland Pool 19',
'Wetland Pool 20',
'Wetland Pool 21',
'Wetland Pool 22',
'Wetland Pool 23',
'Wetland Pool 24',
'Wetland Pool 25',
'Wetland Pool 26',
'Wetland Pool 27',
'Wetland Pool 28',
'Wetland Pool 29',
'Wetland Pool 30',
'Wetland Pool 31',
'Wetland Pool 32',
'Wetland Pool 33',
'Wetland Pool 34',
'Wetland Pool 35',
'Wetland Pool 36',
'Wetland Pool 37',
'Wetland Pool 38',
'Wetland Pool 39',
'Wetland Pool 40',
'Wetland Pool 41',
'Wetland Pool 42',
'Wetland Pool 43',
'Aurand Run connection to P1',
'Aurand Run downstream',
'Aurand Run upstream',
]

In [24]:
df_pool = pd.read_excel("PoolData.xlsx")
df_pool['locName'] = pool_name

In [25]:
merge_col =[
    'Wetland_ID', 'Max Depth  (ft)', 
    'Slope Range', 'Bottom Deviation of wetland', 
    'Pool Volume (cu ft)','locName'
]

In [26]:
df_pool[merge_col].head(1)

,Wetland_ID,Max Depth (ft),Slope Range,Bottom Deviation of wetland,Pool Volume (cu ft),locName
0,P-01,6.0,14:1 to 35:1,770.0,353316.0,Wetland Pool 1

In [27]:
df_soil2 = pd.merge(df_soil, df_pool[merge_col], on='locName', how='left')
df_soil2.to_csv('soil_clean_grouped.csv', index=False)

In [28]:
df_water = pd.read_csv('water_clean_grouped.csv')

df_water2 = pd.merge(df_water, df_pool[merge_col], on='locName', how='left')
df_water2.to_csv('water_clean_grouped.csv', index=False)

# Add season

## Four Season

In [29]:
def get_season(date):
    month = date.month
    if 3 <= month <= 5:
        return 'Spring'
    elif 6 <= month <= 8:
        return 'Summer'
    elif 9 <= month <= 11:
        return 'Autumn'
    else:
        return 'Winter'

In [30]:
df_soil2['visitDate'] = df_soil2['visitDate'].apply(pd.to_datetime)
df_soil2['Season'] = df_soil2['visitDate'].apply(get_season)
# df_soil2.to_csv('soil_clean_grouped.csv', index=False)

In [31]:
df_water2['visitDate'] = df_water2['visitDate'].apply(pd.to_datetime)
df_water2['Season'] = df_water2['visitDate'].apply(get_season)
# df_water2.to_csv('water_clean_grouped.csv', index=False)

## Adding Crop Season

In [32]:
def crop_season(date_column):
    if 5 <= date_column.month <= 9:
        return "Crop_Season"
    else:
        return "Non_Crop_Season"

df_water2['Crop_Season'] = df_water2['visitDate'].apply(crop_season)
# df_water2.to_csv('water_clean_grouped.csv', index=False)

df_soil2['Crop_Season'] = df_soil2['visitDate'].apply(crop_season)
# df_soil2.to_csv('soil_clean_grouped.csv', index=False)

## Adding defined seasons    
Season 1: 5/2021-10/2021;    
Season 2: 11/2021-4/2022;     
Season 3: 5/2022-10/2022;    
Season 4: 11/2022-4/2023;    
Season 5: 5/2023-8/2023

In [33]:
def assign_season(date_column):
    if pd.Timestamp('2021-05-01') <= date_column <= pd.Timestamp('2021-10-31'):
        return 'Season_1'
    elif pd.Timestamp('2021-11-01') <= date_column <= pd.Timestamp('2022-04-30'):
        return 'Season_2'
    elif pd.Timestamp('2022-05-01') <= date_column <= pd.Timestamp('2022-10-31'):
        return 'Season_3'
    elif pd.Timestamp('2022-11-01') <= date_column <= pd.Timestamp('2023-04-30'):
        return 'Season_4'
    elif pd.Timestamp('2023-05-01') <= date_column <= pd.Timestamp('2023-08-31'):
        return 'Season_5'
    else:
        return 'Not in Season'

df_water2['Defined_Season'] = df_water2['visitDate'].apply(assign_season)
df_water2.sort_values(by='Wetland_ID').to_csv('water_clean_grouped.csv', index=False)

df_soil2['Defined_Season'] = df_soil2['visitDate'].apply(assign_season)
df_soil2.sort_values(by='Wetland_ID').to_csv('soil_clean_grouped.csv', index=False)

In [34]:
soil_colnames=['username',
 'map_label',
 'project_code',
 'sampleMedia',
 'combinedID',
 'sampleID',
 'internalSampleID',
 'visitDate',
 'dateAnalTPTN',
 'TP',
 'TN',
 'dateAnalM3Ex',
 'dateAnalM3ICP',
 'm3_P',
 'm3_Fe',
 'm3_Al',
 'SPSC',
 'dateAnalWE',
 'wEX_P',
 'wEX_NH3',
 'wEX_NOx',
 'dateAnalpH',
 'pH',
 'dateAnalEC',
 'EC',
 'samp_type',
 'locName',
 'Location Sortable',
 'specific_location',
 'samp_type_1',
 'notes',
 'samp_notes',
 'y',
 'x',
 'Total_Mean_TP',
 'Total_Mean_TN',
 'Total_Mean_m3_P',
 'Total_Mean_m3_Fe',
 'Total_Mean_m3_Al',
 'Total_Mean_SPSC',
 'Total_Mean_wEX_P',
 'Total_Mean_wEX_NH3',
 'Total_Mean_wEX_NOx',
 'Total_Mean_pH',
 'Total_Mean_EC',
 'Visit_Mean_TP',
 'Visit_Mean_TN',
 'Visit_Mean_m3_P',
 'Visit_Mean_m3_Fe',
 'Visit_Mean_m3_Al',
 'Visit_Mean_SPSC',
 'Visit_Mean_wEX_P',
 'Visit_Mean_wEX_NH3',
 'Visit_Mean_wEX_NOx',
 'Visit_Mean_pH',
 'Visit_Mean_EC',
 'Wetland_ID',
 'Max Depth  (ft)',
 'Slope Range',
 'Bottom Deviation of wetland',
 'Pool Volume (cu ft)',
 'Season',
 'Crop_Season',
 'Defined_Season']
df_soil2.columns= soil_colnames

In [35]:
df_soil2.sort_values(by='Wetland_ID').to_csv('soil_clean_grouped.csv', index=False)